
    body { font-family: Arial, sans-serif; padding: 20px; max-width: 700px; margin: auto; }
    h2{
      color: blue;
      text-align: center;
    }
    .field { margin-bottom: 12px; 
      text-align: center;
    }
    #regForm{
      border: 2px solid blue;
      padding: 20px;
      border-radius: 10px;
      background-color: #f9f9f9;
    }
    label { display:block;
       margin-bottom:6px;
        font-weight:600;
      color: blue;}
    input { padding:8px;
       width:50%;
        box-sizing:border-box; }
    .error { color:#b00020; font-size:0.9rem; margin-top:6px; }
    .success { color:green; }
    button { padding:10px 16px;
    margin-left: 300px;
    color: blue;
    transition: ease-in-out;
   }
   button:hover {
    background-color: blue;
    color: white;
   }
