.calculator-form {
    font-family: Arial, sans-serif;
    width: 300px;
    height: 400px;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-left: 500px;
    margin-top: 100px;

}
.calculator-form .inputs{
  margin-top: 50px;
  line-height: 35px;
  padding-left: 12px;
}
.calculator-form .inputs input{
  display: block;
  width: 270px;
  height: 30px;
}
.calculator-form label{
  font-size: 20px;
  font-weight: bold;
margin-left: 100px;
}
